body{
  background-color: darkgrey;
}

div{
  background-color: rgb(237, 235, 208);
  border: 5px rgb(237, 235, 208);
}

.mainWindow{
  width: 92%;
  height: 90%;
  background-color: lightgrey;
  position: relative;
  left: 8%;
  top: -77%;
}

.sideMenu{
  position: relative;
  width: 7.5%;
  height: 90%;
  top: 13%;
  background-color: rgb(237,235,208);
}

.italicsHeader{
  font-style: italic;
  font-size: 16pt;
  float: right;
}

.header{
  float: left;
  width: 100%;
  height: 12%;
}

.alignButton{
  width: 10%;
  height: 100%;
  float: right;
}

.headerText{
  text-shadow: black;
  width: 22%;
  position: relative;
  left: 7%;
  top: 10%;
}

.button{
  margin-top: 5%;
}
